{% load comments i18n crispy_forms_tags %}
<!-- Comments Form -->
<div id="wrap-form-comment">
    <div class="well" id="form-comment">
        <h4>Leave a Comment:</h4>
        <form role="form" action="{% comment_form_target %}" method="post">{% csrf_token %}
        {% if next %}
            <div><input type="hidden" name="next" value="{{ next }}"/></div>
        {% endif %}
            {% crispy form %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <button id="cancel_reply" type="button" class="btn btn-default">Cancel Reply</button>
        </form>
    </div>
</div>
