{% load staticfiles %}
{% load answ_tags %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}博客 | 安好{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tell Baido not to tranform the website -->
    <meta http-equiv="Cache-Control" content="no-transform " />
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicons/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicons/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicons/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicons/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'favicons/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    {% block headBlock %}
    {% endblock %}
    <!-- Custom CSS -->
    <link href="{% static 'blog/css/my-blog.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'blog/css/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'blog/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'blog/js/respond.min.js' %}"></script>
    <![endif]-->

    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">请登录</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="POST" action="{% url 'blog:login_view' %}">
                            {% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="用户名" name="username" type="text" requried  autofocus />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="密码" name="password" type="password" value="" required />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                                </fieldset>
                            </form>
                            <h3 class="form-signin-heading">第三方登录</h3>
                            {% my_sso_duoshuo_login next|escape %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'blog/js/jquery.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

    </body>

</html>
