{% load staticfiles %}
{% load has_group %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="zh-cn" > <![endif]-->
<html class="no-js" lang="zh-cn" >
    <head>
        <meta charset="utf-8">
        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test photos</title>
        <!-- Tell Baido not to tranform the website -->
        <meta http-equiv="Cache-Control" content="no-transform " />
        <!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
        <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicons/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicons/favicon-192.png' %}">
        <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicons/favicon-160.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96.png' %}">
        <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicons/favicon-64.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16.png' %}">
        <link rel="apple-touch-icon" href="{% static 'favicons/favicon-57.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/favicon-114.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/favicon-72.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/favicon-144.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/favicon-60.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/favicon-120.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/favicon-76.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/favicon-152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/favicon-180.png' %}">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="{% static 'favicons/favicon-144.png' %}">
        <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
        <!-- ****** faviconit.com favicons ****** -->
        <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
        <link rel="stylesheet" href="{% static 'photos/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'photos/css/foundation.css' %}">

        <link rel="stylesheet" href="{% static 'photos/fancybox/jquery.fancybox.css' %}" media="screen" />

        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="{% static 'photos/css/app.css' %}">

        <script src="{% static 'photos/js/vendor/modernizr.js' %}"></script>

    </head>
    <body style="background-image: url({% static background_pattern %})">

        <!-- body content here -->
    {% if photos %}

        <div class="row masonry-row">
            <div class="large-12 columns">
                <div class="masonryContainer">
                {% for photo in photos %}
                    {% if user|has_group:'photos_admins' %}
                        {% if photo.width == 1 %}
                        <div class="masonry-brick w1">
                            <a data-tooltip aria-haspopup="true" class="has-tip" title="{{ photo.title }}">
                                <img src="{{ photo.small_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% elif photo.width == 2 %}
                        <div class="masonry-brick w2">
                            <a data-tooltip aria-haspopup="true" class="has-tip" title="{{ photo.title }}">
                            <img src="{{ photo.medium_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% elif photo.width == 3 %}
                        <div class="masonry-brick w3">
                            <a data-tooltip aria-haspopup="true" class="has-tip" title="{{ photo.title }}">
                            <img src="{{ photo.large_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="masonry-brick w4">
                            <a data-tooltip aria-haspopup="true" class="has-tip" title="{{ photo.title }}">
                            <img src="{{ photo.xlarge_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if photo.width == 1 %}
                        <div class="masonry-brick w1">
                            <a class="fancybox" href="{{ photo.xlarge_image.url }}" data-fancybox-group="gallery" title="{{ photo.title }}">
                            <img src="{{ photo.small_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% elif photo.width == 2 %}
                        <div class="masonry-brick w2">
                            <a class="fancybox" href="{{ photo.xlarge_image.url }}" data-fancybox-group="gallery" title="{{ photo.title }}">
                            <img src="{{ photo.medium_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% elif photo.width == 3 %}
                        <div class="masonry-brick w3">
                            <a class="fancybox" href="{{ photo.xlarge_image.url }}" data-fancybox-group="gallery" title="{{ photo.title }}">
                            <img src="{{ photo.large_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="masonry-brick w4">
                            <a class="fancybox" href="{{ photo.xlarge_image.url }}" data-fancybox-group="gallery" title="{{ photo.title }}">
                            <img src="{{ photo.xlarge_image.url }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

        {% if photos.has_next %}
        <nav class="hide" id="page-nav">
            <a href="{% url 'photos:index_page' page_num=photos.next_page_number %}"></a>
        </nav>
        {% endif %}
    {% endif %}


        <script src="{% static 'photos/js/vendor/jquery.js' %}"></script>
        <script src="{% static 'photos/js/vendor/fastclick.js' %}"></script>
        <script src="{% static 'photos/js/foundation.min.js' %}"></script>
        <script src="{% static 'photos/js/vendor/masonry.pkgd.js' %}"></script>
        <script src="{% static 'photos/js/vendor/imagesloaded.pkgd.js' %}"></script>
        <script src="{% static 'photos/js/vendor/jquery.infinitescroll.js' %}"></script>
        <script src="{% static 'photos/fancybox/jquery.fancybox.js' %}"></script>
        <script>
            $(document).foundation();

            // initialize Masonry
            var $container = $('.masonryContainer').masonry();
            // layout Masonry again after all images have loaded
            $container.imagesLoaded( function() {
                $container.masonry({  
                    itemSelector : '.masonry-brick',
                    columnWidth : '.masonry-brick.w1'
                });
                $('.fancybox').fancybox();
            });

            $container.infinitescroll({
                navSelector  : '#page-nav',    // selector for the paged navigation 
                nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
                itemSelector : '.masonry-brick',     // selector for all items you'll retrieve
                loading: {
                    finishedMsg: 'No more pages to load.'
                }
            },
            // trigger Masonry as a callback
            function( newElements ) {
                // hide new items while they are loading
                var $newElems = $( newElements ).css({ opacity: 0 });
                // ensure that images load before adding to masonry layout
                $newElems.imagesLoaded(function(){
                    // show elems now they're ready
                    $newElems.animate({ opacity: 1 });
                    $container.masonry( 'appended', $newElems ); 
                    // refresh the tooltip
                    $(document).foundation('tooltip', 'reflow');
                });
            }
            );

            $(document).on('open.fndtn.reveal', '[data-reveal]', function () {
                var modal = $(this);
                img = modal.find('img');
                img.animate({ opacity: 0 });
                imgWxH = modal.find('input').val().split('x');
                maxW = $(window).width();
                maxH = $(window).height() - modal.find('a').height();
                ratio = Math.min(maxW/imgWxH[0], maxH/imgWxH[1]);
                img.width(imgWxH[0]*ratio);
                img.height(imgWxH[1]*ratio);
                img.animate({ opacity: 1 });
            });

        </script>
    </body>
</html>
