{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load duoshuo_tags %}

{% block title %} 分类: {{ category.title }} | 博客 | 安好 {% endblock %}

{% block pageHeader %}
<header class="intro-header" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>安的博客</h1>
                        <hr class="small">
                        <span class="subheading">分类归档: {{ category.title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock pageHeader %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                <div class="post-preview">
                    <a href="{% url 'blog:single_post' slug=article.slug %}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.excerpt }}
                        </h3>
                    </a>
                    <p class="post-meta">由 <a href="#">
                        {% if article.author.first_name or article.author.last_name %}
                        {{ article.author.last_name|addstr:article.author.first_name|truncatechars:9  }}
                        {% else %}
                        {{ article.author.username|truncatechars:9 }}
                        {% endif %}
                    </a> 发布于 {{ article.date_publish }}</p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    {% if articles.has_previous %}
                    <li class="previous">
                        <a href="{% url 'blog:category_archive_page_view' page_num=articles.previous_page_number %}">&larr; 上一页</a>
                    </li>
                    {% endif %}
                    {% if articles.has_next %}
                    <li class="next">
                        <a href="{% url 'blog:category_archive_page_view' page_num=articles.next_page_number %}">下一页 &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock mainContent %}
