{% extends 'blog/default/base.html' %}
{% load staticfiles %}

{% block title %} 分类 | 博客 | 安好 {% endblock %}

{% block headBlock %}
  <style>
  #canvas-container {
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    /* margin-top: 51px;
    margin-bottom: 20px; */
  }
  .canvas {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .canvas.hide {
    display: none;
  }

  #html-canvas > span {
    transition: text-shadow 1s ease, opacity 1s ease;
    -webkit-transition: text-shadow 1s ease, opacity 1s ease;
    -ms-transition: text-shadow 1s ease, opacity 1s ease;
  }

  #html-canvas > span:hover {
    text-shadow: 0 0 10px, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    opacity: 0.5;
  }
  #box {
    pointer-events: none;
    position: absolute;
    box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
  }
  </style>
{% endblock headBlock %}

{% block mainContent %}
<div id="canvas-container">
    <canvas id="canvas" class="canvas"></canvas>
    <div id="html-canvas" class="canvas hide"></div>
</div>
<div id="cloud2" hidden>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            {% for c in categories %}
                <a href="{% url 'blog:category_archive_view' slug=c.slug %}" rel="{{c.article_set.count|add:'1'}}">{{ c.title }} ({{ c.article_set.count }})</a>
            {% endfor %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#cloud2 -->
{% endblock mainContent %}

{% block extScriptFile %}
<script src="{% static 'blog/js/wordcloud2.js' %}"></script>
<script src="{% static 'blog/js/categories_cloud.js' %}"></script>
<script src="{% static 'blog/js/jquery.tagcloud.js' %}"></script>
<script>
jQuery(function($) {
    categoriesCloud({{ category_list|safe }}, {{ category_urls|safe }});
    // categoriesCloud([["Test", 2], ["Sunday", 1], ["Worship", 1], ["哈哈", 1]], {"Test": "2"});
    // categoriesCloud([['hehe', 16]], {{ category_urls|safe }});
    $.fn.tagcloud.defaults = {
        size: {start: 14, end: 28, unit: 'pt'},
        color: {start: '#cde', end: '#f52'}
    };

    $(function () {
        $('#cloud2 a').tagcloud();
    });
});
</script>
{% endblock extScriptFile %}
