{% extends 'blog/default/base.html' %}
{% load staticfiles %}
{% load answ_tags %}
{% load threadedcomments_tags %}

{% block title %}{{ article.title }} | 博客 | 安好{% endblock %}

{% block headBlock %}
    <link rel="stylesheet" href="{% static 'mycomments/css/mycomments.css' %}">
{% endblock headBlock %}

{% block blogColumn %}
<!-- Blog Post -->
<article>
    <!-- Title -->
    <h1>{{ article.title }}</h1>

    <!-- Author -->
    <p class="lead">
        由
        <a href="#">
            {% if article.author.first_name or article.author.last_name %}
                {{ article.author.last_name|add_str:article.author.first_name|truncatechars:9  }}
            {% else %}
                {{ article.author.username|truncatechars:9 }}
            {% endif %}
        </a>
    </p>

    <hr>

    <p><i class="fa fa-clock-o fa-fw"></i>
        发布于 {{ article.date_publish }}
    </p>
    {% get_comment_count for article as comment_count %}
    <p><i class="fa fa-comment-o fa-fw"></i>
        {{ comment_count }} 个评论
    </p>
    <p>
    {% for c in article.categories.all %}
        <a href="{% url 'blog:category_archive_view' slug=c.slug %}"><span class="label label-default"><i class="fa fa-tag"></i> {{ c.title }}</span></a>
    {% endfor %}
    </p>

    <hr>

    {% if article.cover %}
        <img class="img-responsive" src="{{ article.cover.url }}" alt="">
        <hr>
    {% endif %}


    <p class="lead">
        {{ article.excerpt }}
    </p>

    {{ article.get_content_markup|safe }}
    <div class="row">
        <div class="col-lg-12 text-center">

        <form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK">
            <input name="optEmail" type="hidden" value="aplusplus@qq.com" />
            <input name="payAmount" type="hidden" value="10" />
            <input id="title" name="title" type="hidden" value="博客赞助" />
            <input name="memo" type="hidden" value="备注" />
            <input name="pay" type="image" value="转账" src="{% static 'blog/img/donate.png' %}" />
        </form>
        </div>
    </div>

    {% if user|has_group:'authors' and user == article.author %}
    <p>
        <a href="{% url 'blog:edit_post_view' post_id=article.id %}" style="font-size: 20px;">编辑本文</a>
    </p>
    {% endif %}

    <hr>

    {% render_comment_list for article %}

    <hr>

    {% render_comment_form for article %}

</article>
{% endblock blogColumn %}

{% block extScriptFile %}
    <script src="{% static 'mycomments/js/mycomments.js' %}"></script>
    {% if user.is_authenticated %}
    <script>
        jQuery(function($) {
            setAuthenticatedUser();
        });
    </script>
    {% endif %}
{% endblock extScriptFile %}
