#div_id_honeypot {
    /* Hide the honeypot from django_comments by default */
    display: none;
}

#cancel_reply {
    display: none;
}

.media #cancel_reply {
    display: inline;
}

.has-preview-loaded #cancel_reply {
    display: inline;
}

.comment-waiting img.ajax-loader {
    display: inline;
}

div.comment-preview .media-body {
    background-color: #FFFFCC;
}